/* .container-pilot-films {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  min-height:100px
} */

/* .pilot-film {
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgba(64, 60, 60, 0.526);
  border-radius: 5px;
} */
.title-pilots-films {
  font-family: Fuente-name;
  font-weight: 100;
  text-align: center;
  margin-top: 2rem;
}
.container-pilot-films {
  display: flex;
  flex-wrap: wrap;
  width: 45rem;
}

.pilot-film {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(64, 60, 60, 0.526);
  border-radius: 5px;
  height: auto;
  width: 13rem;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
.imgFilms {
  height: 12rem;
  margin: 1rem;
}
