.ships {
  margin: 2rem 7rem 2rem 7rem;
  background-color: rgba(64, 60, 60, 0.526);
  padding: 3px;
  height: 6rem;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-left: 1rem;
}
.ships:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 0, 0, 0.435);
}

.name-ship {
  text-transform: uppercase;
  font-family: Fuente-name;
  font-weight: bold;
}

#container-btn {
  display: flex;
  justify-content: center;
}
#container-btn > button {
  padding: 10px;
  width: 8rem;
  margin-bottom: 3rem;
  background-color: transparent;
  color: grey;
  border: 1px solid grey;
  cursor: pointer;
}

/* #container-btn > button:hover {
  background-color: rgba(64, 60, 60, 0.526);
  color: black;
} */
